* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}
/* Header Section */
.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    margin-left: 15px;
    font-size: 18px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: tomato;
}

.header-area {
    padding: 25px 0;
}
/* Banner Section */
.bannar img {
    width: 100%;
    border: 3px solid #f4f4f4;
    padding: 5px;
    border-radius: 10px;
}
/* About Section */


.about-area {
    padding: 60px 0;
}
.about-title{
    text-align: center;
    margin-bottom: 40px;
}
.about-title h4 {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 30px;
}
.about-title p {
    max-width: 700px;
    margin: 0 auto;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-about {
    text-align: center;
    flex-basis: 32%;
    border: 1px solid #ddd;
    padding: 20px 10px;
    transition: 0.3s;
}
.single-about i {
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 20px;
}
.single-about h4 {
    text-transform: capitalize;
    font-size: 22px;
    margin: 25px 0 10px;
}

.single-about:hover {
    border-color: tomato;
}
/* Service Section */
.services-area {
    background: #f4f4f4;
    padding: 60px 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.section-title {
    text-align: center;
    margin-bottom: 25px;
}

.section-title h4 {
    font-size: 40px;
}
.single-service img {
    width: 100%;
}

.single-service {
    flex-basis: 30%;
    background: #fff;
    padding: 16px;
}
.single-service h4 {
    text-align: center;
    color: #fff;
    background: teal;
    font-size: 20px;
    padding: 10px;
}

.single-service a {
    background: tomato;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 20px;
    text-transform: capitalize;
    transition: 0.3s;
}

.single-service a:hover {
    background: teal;
}
/* Gallery Section */
.gallery-area {
    padding: 60px 0;
}

.gallery {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-gallery {
    flex-basis: 24%;
}

.single-gallery img {
    width: 100%;
    border: 1px solid #ddd;
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 15px;
}
/* Contact Section */
.contact-area {
    background: #f4f4f4;
    padding: 60px 0;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact-form {
    flex-basis: 60%;
    margin-right: 30px;
    margin-top: 40px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

.contact-form input[type="submit"] {
    background: tomato;
    color: #fff;
    border: 0;
    font-size: 20px;
    font-weight: 500;
}

.single-contact {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.single-contact i {
    width: 40px;
    height: 40px;
    background: tomato;
    text-align: center;
    line-height: 40px;
    color: #fff;
    margin-right: 10px;
    border-radius: 50%;
}

.single-contact h4 {
    font-size: 20px;
}

.single-contact h4 span {
    display: block;
    font-weight: normal;
    font-size: 16px;
}